<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="17.4.1" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.4.1" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.TestHost" version="17.4.1" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net48" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net48" />
</packages>