/.vs
/bin/Debug/CharacterSets
/bin/Debug/Data
/bin/Debug/Resources
/bin/Debug/*.def
/bin/Debug/*.gif
/bin/Debug/*.bsc
/bin/Debug/*.lib
/bin/Debug/*.pdb
/bin/Debug/*.dat
/bin/Debug/*.xslt
/bin/Debug/*.xsl
/bin/Debug/*.exe
/bin/Debug/*.xml
/bin/Debug/*.html
/bin/Debug/*.js
*.pix
obj
*.bak
*.cache
/DVTk_Library/Assemblies/DVTk/.vs